$background-html: #f8f9fc;
$background-nav: #fcfdff;
$border-nav: #dadbde;
$list-item-avatar: #dadbde;
$button-follow-up: #4c5262;
$primary-color: #4c5262;
$secondary-color: #8f929b;
$hover-color: #f5f5f5;